#AuthUserFile /Users/mark/www/rosemary/passwd
#AuthType Basic
#AuthName "Rosemary gallery"
#Require valid-user
SetEnvIf HTTP_HOST rosemary.mamp APPLICATION_ENV=development
<IfDefine !APPLICATION_ENV>
  Allow from all
  AuthType Basic
  AuthName "Rosemary gallery" 
  AuthUserFile /var/www/vhosts/rosemary.mtrl.co.uk/passwd
  Require valid-user
</IfDefine>